[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-livereload-server = "*"
gunicorn = "*"
azure-storage-blob = "*"
django-storages = "*"
psycopg2 = "*"
psycopg2-binary = "*"
black = {extras = ["d"], version = "*"}
flake8 = "*"
pre-commit = "*"
pytest-django = "*"
factory-boy = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
