{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <a href="{% url 'home' %}">Back to home</a>
    <h1>{{ collection.name }}</h1>
    <p>Date created: {{ collection.date_created }}</p>
    <p>Description: {{ collection.description }}</p>
    <p>Below are the flashcard decks for this collection</p>
    <a href="{% url 'create' collection_id=collection.id %}" class="btn btn-primary">Create new flashcard deck</a>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Date Created</th>
            <th>Count</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for deck in flashcard_decks %}
            <tr>
                <td>{{ deck.name }}</td>
                <td>{{ deck.date_created }}</td>
                <td>{{ deck.count }}</td>
                <td>
                    <a href="{% url 'collection-view-flashcards' collection_id=collection.id deck_id=deck.id %}" class="viewlink">View</a>,
                    <a href="{% url 'collection-practice-flashcards' collection_id=collection.id deck_id=deck.id %}" class="link-primary">Practice</a>,
                    <a href="{% url 'collection-delete-deck' collection_id=collection.id deck_id=deck.id %}" class="link-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
